<%- include('./layouts/header.ejs') %>
<div class="container mb-5 mt-5">
    <h1>Login</h1>

    <% 
        if(typeof message !== 'undefined'){
            %>
            <p style="color: red"><%= message %></p>

            <%
    } %>



    <form action="" method="POST">
        <div class="row">
            <div class="col-mt-3">
                <input type="text" name="email" placeholder="enter email" required>
            </div>
        </div>

        <div class="row">
            <div class="col-mt-3">
                <input type="password" name="password" placeholder="enter passsword" required>
            </div>
        </div>

        <div class="row">
            <div class="col-mt-3">
                <input type="submit" value="login" class="btn btn-primary">
            </div>
        </div>
    </form>

    <a href="/forget-password"> forget password</a>
</div>


<%- include('./layouts/footer.ejs') %>